* { margin: 0; padding: 0; text-decoration: none; list-style: none;}
#wrap { width: 1400px; margin: 0 auto; }

header { 
    width: 100%; height: 80px; 
    display: flex; align-items: center; justify-content: space-between;
}
header h1 { margin-left: 70px;}
nav { width: 400px; margin-right: 70px;}
nav ul { display: flex; align-items: center; justify-content: space-between; }

#s1 {
    background-image: url(/seoultravel/imgs/visual.png); 
    width: 1400px; height: 780px;
}
#s1 p {
    display: flex; justify-content: center; text-align: center; padding-top: 50px;
}
#s1 h1 { 
    display: flex; justify-content: center; font-size: 120px; color: navy;
}
#s1 .img { 
    display: flex; justify-content: space-between; padding: 100px;
}

#s2 { 
    width: 100%; height: 750px; padding: 70px 170px;
    background-image: url(/seoultravel/imgs/Shape3.png); background-repeat: no-repeat;
}
#s2 .info {
    width: 78%; display: column; align-items: center; justify-content: center;
}
#s2 .info1 {
   width: 1120px; height: 200px; float: right;
}
.info1 h3 { padding-top: 5px; direction: rtl; position: absolute; margin-left: 801px;}
.info1 h1 { color: blue; direction: rtl;}
.info1 p { direction: rtl;}
.info1 .img { margin-left: 900px; margin-top: 10px;}
.info1 img { margin-left: 30px;}

.info2 { 
    position: absolute; top: 1200px; margin-left: 440px;
    background-image: url(/seoultravel/imgs/content_img2.png); width: 650px; height: 440px; background-size: 650px;
}

.info3 {
    position: absolute; top: 1070px; margin-left: -30px;
    background-image: url(/seoultravel/imgs/content_img1.png); width: 500px; height: 350px; background-size: 520px;
}
.info3 h1 { color: white;  position: absolute; font-size: 50px; margin-top: 170px; margin-left: 40px;}
.info3 h3 { color: white; position: absolute; font-size: 30px; margin-top: 190px; margin-left: 90px;}
.info3 p { color: white; position: absolute; margin-top: 230px; margin-left: 40px;}

.info4 {
    width: 1120px; height: 200px; float: left; margin-top: 420px; margin-left: -30px;
}
.info4 h3 { padding-top: 5px; position: absolute; color: brown;}
.info4 p { padding-top: 50px;}
.info4 .img { margin-top: 10px;}
.info4 img { margin-right: 30px;}

#s3 {
    background-image: url(/seoultravel/imgs/content_img3.png); width: 100%; height: 890px;
    display: flex; align-items: flex-end; justify-content: space-between;
}
.pic2 {
    position: absolute;
    background: white; text-align: center; margin-left: 415px; height: 300px; width: 587px; margin-bottom: -50px;
    box-shadow: 0px 0px 20px 0px;
}
.pic2 .bicon { padding-top: 40px; }
.pic2 .bicon img {margin-left: 20px; margin-right: 25px;}
.pic2 .text1 { padding-top: 25px;}
.pic2 .text2 { background: gainsboro; padding: 30px 0 ; width: 587px; margin-top: 45px; font-size: 10px;}
footer {
    width: 100%; height: 200px; margin-top: -3px; background: rgb(109, 4, 4);
}